body{
    background-color: #222222;
    height: 100vh;
    width: 100%;
    font-family: 'roboto' ,'open sans', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;

}
.Round {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px
}
.XO{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.X {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #3d3e3f;
    box-shadow: 0 0 5px 0 #808080
}
.O{
    background-color: #3d3e3f;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #808080
}
.selected{
    box-shadow: 0 0 5px 0 #3093d4; 
    background-color: #3093d4;

}


.Board{
    background-color: #DEC8A3;
    width: 300px;
    height: 300px;
}
.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
}

[class^="cell"] {
    background-color: #222222;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #DEC8A3;
    height: 100px;
}

[class^="cell"]:hover {
    background-color: #333333;
}


body.dialog-open {
    filter: blur(5px); 
    pointer-events: none; 
}


#choice-dialog {
    pointer-events: auto; 
    z-index: 1000; 
    /* background: white; */
}

#choice-dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: white;
}
#choice-dialog  h2{
    color: #222222;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.choice-x, .choice-o {
    padding: 10px 20px;
    background-color: #DEC8A3;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #808080;
}
.status{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.status button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3d3e3f;
    box-shadow: 0 0 5px 0 #808080;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.reset:hover{
    background-color: #dd5a5a;
    box-shadow: 0 0 5px 0 #ffffff;
}